* {
    /* border: 3px solid black; */
    /* margin: 20px; */
    list-style: none;
    font-family: Helvetica, sans-serif;
}

header {
    border-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: black;
}

.menu a {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

h1 {
    font-size: 25px;
    padding-left: 50px;
    color: white;
}

h2 {
    font-size: 50px;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: right;
}

h3 {
    color: black;
    font-size: 40px;
    padding: 20px;
}

h4 {
    margin-bottom: 20px;
    color: white;
}

section {
    border-color: green;
    display: flex;
}

footer {
    border-color: blue;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: black;
    height: 150px;
}

li {
    padding: 15px;
    margin: 0px 10px;
    /* background-color: darkgrey; */
}

.menu {
    color: white;
    display: flex;
    justify-content: flex-end;
    padding: 5px;
}

.side {
    /* background-color: darkgrey; */
    width: 33%;
    display: flex;
    justify-content: flex-end;
    margin: 20px;
    padding: 20px;
    

}

.mainContent {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.projectTile {
    /* display: flex;
    flex-wrap: wrap; */
    flex: 1 0 35%;
    position: relative;
    border: 5px solid black;
    margin: 20px;
    
}

.projectTile h3 {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.projectTile img {
    width: 100%;
}

.contactList {
    display: flex;
}

.contactList li {
    height: 20px;
    margin-top: 20px;
}

#contactSection {
	/* height: 100px; */
}

#tileOne {
    flex: 1 0 70%;
    /* max-height: 200px; */
}

#aboutMe {
    margin-top: 50px;
    /* margin-left: 50px; */
    /* margin-right: 50px; */
}